/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--graywhite);
  display: flex;
  height: 7526px;
  overflow: hidden;
  width: 1920px;
}

.index .overlap-group2 {
  height: 7549px;
  margin-left: -916px;
  position: relative;
  width: 3874px;
}

.index .ellipse-5 {
  background-color: #da4df166;
  border-radius: 435.61px;
  filter: blur(500px);;
  height: 871px;
  left: 178px;
  position: absolute;
  top: 4093px;
  transform: rotate(-130.44deg);
  width: 871px;
}

.index .ellipse-4 {
  background-color: #c4f5e9b2;
  border-radius: 522.16px;
  filter: blur(600px);;
  height: 1044px;
  left: 2616px;
  position: absolute;
  top: 4207px;
  transform: rotate(-130.44deg);
  width: 1044px;
}

.index .bg {
  height: 7526px;
  left: 916px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .rectangle-32 {
  background-color: #ffc7c7;
  height: 6px;
  left: 1356px;
  position: absolute;
  top: 479px;
  width: 133px;
}

.index .rectangle-33 {
  background-color: #ffc7c7;
  height: 6px;
  left: 1530px;
  position: absolute;
  top: 479px;
  width: 92px;
}

.index .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 1216px;
  position: absolute;
  top: 274px;
}

.index .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.index .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.index .hello-im-corrie-tse-haberman {
  color: var(--gray900);
  font-family: var(--font-family-work_sans);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 84px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.index .im-a-freelance-uiu {
  color: transparent;
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 648px;
}

.index .span-1 {
  color: var(--gray900);
}

.index .button {
  align-items: center;
  background-color: var(--sea-serpent);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
}

.index .button-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .profile-pic {
  height: 868px;
  left: 1884px;
  position: absolute;
  top: 130px;
  width: 768px;
}

.index .frame-1-1 {
  align-items: center;
  background-color: #edd8ff80;
  border: 1px solid;
  border-color: var(--graywhite);
  border-radius: 6px;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  left: 1216px;
  position: absolute;
  top: 752px;
}

.index .frame-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.index .x19-y {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .experience {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .line {
  height: 106px;
  position: relative;
  width: 3px;
}

.index .percent {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .client-satisfaction {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .text-1 {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .completed-projects {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 200px;
}

.index .frame-40 {
  align-items: flex-start;
  background-color: var(--graywhite);
  display: flex;
  justify-content: space-between;
  left: 916px;
  padding: 20px 300px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .logo {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.index .brooklyn {
  color: var(--gray900);
}

.index .frame-39 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.index .button-1 {
  align-items: center;
  background-color: var(--sea-serpent);
  border: 1px solid;
  border-color: var(--sea-serpent);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
}

.index .button-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .text {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 2605px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 2160px;
  white-space: nowrap;
}

.index .frame-288 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 915px;
  position: absolute;
  top: 1080px;
}

.index .group-1 {
  height: 2099px;
  position: relative;
  width: 1920px;
}

.index .work-process {
  align-items: center;
  background-color: var(--gray50);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1228px;
  justify-content: center;
  left: 0;
  padding: 140px 0px;
  position: absolute;
  top: 871px;
  width: 1920px;
}

.index .work-process-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 55px;
  height: 800px;
  justify-content: center;
  position: relative;
  width: 1465px;
}

.index .work-process-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  margin-top: -71.00px;
  position: relative;
  width: 100%;
}

.index .work-process-3 {
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .frame-31 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 840px;
}

.index .my-work-process-is-b {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.index .work-process-card-1 {
  height: 687px;
  margin-bottom: -71.00px;
  margin-right: -0.54px;
  position: relative;
  width: 1465.54px;
}

.index .frame-3 {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  height: 300px;
  left: 217px;
  min-width: 989px;
  position: absolute;
  top: 387px;
}

.index .work-process-card {
  align-items: flex-start;
  background-color: var(--graywhite);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 348px;
  margin-bottom: -48px;
  padding: 32px;
  position: relative;
  width: 465px;
}

.index .frame-44 {
  height: 96px;
  margin-left: -4.00px;
  margin-top: -4.00px;
  position: relative;
  width: 112px;
}

.index .frame-46-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 108px;
  position: relative;
  width: 100%;
}

.index .x1-research {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .lorem-ipsum-dolor-si-1 {
  align-self: stretch;
  margin-bottom: -23.00px;
}

.index .frame-44-1 {
  height: 107px;
  margin-left: -8.00px;
  width: 109.87px;
}

.index .frame-46 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.index .lorem-ipsum-dolor-si-2 {
  align-self: stretch;
}

.index .frame-3-1 {
  align-items: flex-end;
  display: flex;
  gap: 36px;
  height: 300px;
  left: 0;
  min-width: 1466px;
  position: absolute;
  top: 0;
}

.index .work-process-card-2 {
  align-items: flex-start;
  background-color: var(--graywhite);
  border-radius: 12px;
  box-shadow: 32px 32px 124px #2b374c1a;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 348px;
  margin-bottom: -48px;
  padding: 32px;
  position: relative;
  width: 465px;
}

.index .frame-44-2 {
  height: 107.56px;
  margin-left: -4.00px;
  width: 112px;
}

.index .lorem-ipsum-dolor-si-3 {
  align-self: stretch;
}

.index .frame-44-3 {
  height: 106.97px;
  margin-left: -4.00px;
  width: 107px;
}

.index .lorem-ipsum-dolor-si-4 {
  align-self: stretch;
}

.index .frame-44-4 {
  height: 107px;
  margin-left: -4.00px;
  width: 107px;
}

.index .lorem-ipsum-dolor-si-5 {
  align-self: stretch;
}

.index .frame-284 {
  align-items: center;
  background-color: var(--graywhite);
  border-radius: 16px;
  box-shadow: 0px 36px 105px #2b374c1a;
  display: flex;
  gap: 136px;
  height: 774px;
  left: 300px;
  min-width: 1320px;
  padding: 0 112px;
  position: absolute;
  top: 0;
}

.index .overlap-group {
  height: 550px;
  position: relative;
  width: 424px;
}

.index .image {
  background-image: url(../img/rectangle-30-1.svg);
  background-size: 100% 100%;
  height: 514px;
  left: 0;
  position: absolute;
  top: 0;
  width: 424px;
}

.index .social-media-card-1 {
  box-shadow: 0px 12px 64px #1b19191f;
  left: 152px;
  padding: 12px;
  position: absolute;
  top: 478px;
}

.index .social-media-card-2 {
  border: 0px none;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: relative;
}

.index .social {
  height: 18px;
  position: relative;
  width: 18px;
}

.index .social-media-card {
  align-items: center;
  background-color: var(--graywhite);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px;
  position: relative;
}

.index .frame-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 428px;
  width: 536px;
}

.index .i-am-professional-us {
  color: var(--gray900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  margin-top: -1px;
  min-height: 100px;
  width: 536px;
}

.index .i-design-and-develop {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 32px;
  min-height: 216px;
  position: relative;
  width: 536px;
}

.index .frame-41 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  margin-top: 33px;
  position: relative;
}

.index .button-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .button-2 {
  align-items: center;
  background-color: var(--graywhite);
  border: 1px solid;
  border-color: var(--sea-serpent);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
}

.index .arrows-download {
  height: 24px;
  position: relative;
  width: 24px;
}

.index .button-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .portfolio {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-end;
  padding: 100px 0px;
  position: relative;
}

.index .portfolio-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 70px;
  position: relative;
}

.index .frame-286 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 128px;
  justify-content: space-between;
  padding: 0px 300px;
  position: relative;
  width: 1920px;
}

.index .portfolio-2 {
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .please-enjoy-a-selec {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 840px;
}

.index .project-card {
  gap: 24px;
  padding: 0px 300px;
}

.index .ject {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.index .project-1 {
  background-color: var(--graywhite);
  border: 1px solid;
  border-color: var(--gray100);
  border-radius: 8px;
  box-shadow: 0px 12px 64px #1b19191f;
  gap: 32px;
  padding: 0px 0px 32px;
}

.index .unsplash {
  height: 248px;
  object-fit: cover;
  position: relative;
  width: 424px;
}

.index .frame-57 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.index .frame-56 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.index .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.index .ui-ux-design {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .product-admin-dashboard {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .vivamus-eleifend-con {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 360px;
}

.index .button-7 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .arrows-right-arrow {
  height: 24px;
  position: relative;
  width: 24px;
}

.index .project {
  background-color: var(--graywhite);
  border: 1px solid;
  border-color: var(--gray100);
  border-radius: 8px;
  box-shadow: 0px 12px 64px #1c19191f;
  gap: 32px;
  padding: 0px 0px 32px;
}

.index .button-8 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .button-9 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .button-10 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .call-to-action {
  align-items: center;
  background-color: var(--gray900);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 100px 0px;
  position: relative;
  width: 1920px;
}

.index .got-a-project-idea {
  color: var(--graywhite);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 840px;
}

.index .please-share-your-pr {
  color: var(--gray300);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 800px;
}

.index .lets-work-together {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .what-i-do {
  align-items: center;
  background-color: var(--gray50);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 143px;
  padding: 150px 300px;
  position: relative;
}

.index .frame-287 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.index .work-process-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.index .what-i-do-1 {
  color: #333333;
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .as-a-dedicated-freel {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 529px;
}

.index .button-11 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .what-i-do-cards {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.index .what-i-do-card-1 {
  align-items: flex-start;
  background-color: var(--graywhite);
  border-radius: 6px;
  box-shadow: 0px 32px 96px #1b191929;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  overflow: hidden;
  padding: 32px;
  position: relative;
}

.index .user-experience-ux {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.index .lorem-ipsum-dolor-si-6 {
  color: var(--gray700);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  width: 584px;
}

.index .rectangle-5 {
  background-color: var(--sea-serpent);
  border: 1px solid;
  border-color: var(--sea-serpent);
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.index .what-i-do-card {
  align-items: flex-start;
  background-color: var(--graywhite);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 32px;
  position: relative;
}

.index .lorem-ipsum-dolor-si {
  color: var(--gray700);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 584px;
}

.index .hapyy-clients {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 100px 300px;
  position: relative;
  width: 1920px;
}

.index .frame-28 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.index .happy-clients {
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .frame-280 {
  flex: 0 0 auto;
  position: relative;
  width: 850px;
}

.index .testimonial {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  padding: 0px 524px 100px;
  position: relative;
}

.index .frame-283 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  position: relative;
}

.index .happy-clients-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.index .testimonial-1 {
  color: #333333;
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .nulla-efficitur-nis {
  color: var(--gray800);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 872px;
}

.index .clients-name-company {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.index .frame-36 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.index .name {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .managing-director-abc-company {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .pagination {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.index .rectangle-4 {
  background-color: var(--primary900);
  border-radius: 100px;
  height: 8px;
  position: relative;
  width: 30px;
}

.index .ellipse {
  background-color: var(--gray200);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.index .group-2 {
  height: 990px;
  position: relative;
  width: 1998px;
}

.index .overlap-group1 {
  height: 990px;
  position: relative;
}

.index .overlap-group-1 {
  height: 330px;
  left: 0;
  position: absolute;
  top: 660px;
  width: 1998px;
}

.index .rectangle-29 {
  background-color: var(--gray800);
  height: 330px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .frame-49 {
  align-items: center;
  background-color: var(--gray800);
  display: inline-flex;
  gap: 182px;
  height: 120px;
  justify-content: center;
  left: 0;
  padding: 0px 300px;
  position: absolute;
  top: 160px;
}

.index .frame-12-2 {
  align-items: flex-start;
  background-color: var(--sea-serpent);
  border: 1px solid;
  border-color: var(--sea-serpent);
  border-radius: 1000px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 0px 20px;
}

.index .b {
  color: var(--graywhite);
  font-family: var(--font-family-poppins);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .brooklyn-1 {
  color: var(--graywhite);
}

.index .copyright-2024-cor {
  color: var(--graywhite);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .contact {
  align-items: center;
  background-color: var(--graywhite);
  border-radius: 15px;
  box-shadow: 0px 59px 124px #0000001f;
  display: flex;
  justify-content: space-between;
  left: 300px;
  padding: 88px;
  position: absolute;
  top: 0;
  width: 1320px;
}

.index .lets-discuss-your-project {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 35px;
  position: relative;
}

.index .frame-54 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 481px;
}

.index .lets-discuss-your-project-1 {
  align-self: stretch;
  color: var(--gray900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  margin-top: -1.00px;
  position: relative;
}

.index .leave-me-a-message-h {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.index .adress-card {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.index .x-card {
  align-items: center;
  background-color: var(--graywhite);
  border-radius: 10px;
  box-shadow: 0px 12px 64px #1c19191f;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  padding: 24px;
  position: relative;
  width: 336px;
}

.index .frame-50 {
  height: 63.58px;
  position: relative;
  width: 74px;
}

.index .address {
  color: var(--gray700);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .new-mexico-31134 {
  color: var(--gray900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .frame-50-1 {
  height: 74px;
  position: relative;
  width: 74px;
}

.index .location {
  color: var(--gray700);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .bay-area-california {
  color: var(--gray900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .social-media {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.index .please-fill-out-this {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 560px;
}

.index .information {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.index .name-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.index .name-2 {
  -webkit-text-stroke: 1px var(--sea-serpent);
  color: var(--sea-serpent);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -1.00px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .line-1 {
  height: 1.5px;
  position: relative;
  width: 560px;
}

.index .email {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.index .email-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .location-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.index .location-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .budget {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.index .budget-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .line-11 {
  height: 1.5px;
  position: relative;
  width: 200px;
}

.index .subject {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.index .subject-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .line-12 {
  height: 1.5px;
  position: relative;
  width: 336px;
}

.index .message {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.index .message-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.index .lets-work-together-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .user-interface-paper-plane {
  height: 24px;
  position: relative;
  width: 24px;
}

.index .arrows-right-arrow-4 {
  height: 24px;
  position: relative;
  width: 24px;
}

.index .brooklyn-2 {
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .frame-12-3 {
  flex: 0 0 auto;
  position: relative;
}

.index .frame-44-5 {
  margin-top: -4.00px;
  position: relative;
}

.index .frame-56-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.index .lorem-ipsum-dolor-si-7 {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.index .project-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.index .social-media-card-3 {
  align-items: center;
  background-color: var(--graywhite);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
}

.index .user {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.index .user-experience-ux-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.index .x1-research-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
